// -------------------variables------------------
$accent-color: #3E9CDC;
$menu-hover-color: #43ABF0;
// -------------------fonts------------------

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Semibold.woff2') format('woff2'),
    url('../fonts/Lato-Semibold.woff') format('woff'),
    url('../fonts/Lato-Semibold.ttf') format('truetype'),
    url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype'),
    url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Heavy.woff2') format('woff2'),
    url('../fonts/Lato-Heavy.woff') format('woff'),
    url('../fonts/Lato-Heavy.ttf') format('truetype'),
    url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
  display: swap;
}

// -------------------reset-styles------------------

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

li {
  position: relative;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  background-color: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:focus {
  outline: none;
}


/* ! ------------------------body-------------------- */

body {
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
  color: #000;
  min-width: 320px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  overflow-x: hidden;
}

body.lock,
html.lock {
  overflow: hidden;
}

/* ! ------------------------styles------------------ */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #10101D, $alpha: 0.9);
  padding: 15px 0;
  min-height: 100px;
  z-index: 2;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
    max-width: 250px;
    height: 70px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: contain;
      object-position: center;
    }
  }

  &__menu {}
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;

  &__item {
    margin-right: 60px;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 13px;
    font-weight: 600;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 10px 0;
    transition: .3s;

    &:hover {
      color: $menu-hover-color;
    }
  }
}

.start-screen {
  position: relative;
  width: 100%;
  max-height: 850px;
  padding: 10.5% 0;



  &__wrapper {}

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      object-position: center top;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 42.5%;
    margin-left: 19.5%;
    padding: 0 15px;

    @media (max-width: 1350px) {
      margin-left: 12%;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10.25%;

    span {
      color: $accent-color;
    }

    @media (max-width: 1871px) {
      font-size: 40px;
    }

    @media (max-width: 1574px) {
      font-size: 34px;
    }

    @media (max-width: 1350px) {
      font-size: 32px;
    }

    @media (max-width: 1262px) {
      font-size: 28px;
    }
  }

  &__description {
    margin-bottom: 10.25%;
  }

  &__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;

    @media (max-width: 1574px) {
      font-size: 18px;
    }

    @media (max-width: 1262px) {
      font-size: 16px;
    }
  }

  &__list {
    font-size: 20px;

    @media (max-width: 1574px) {
      font-size: 18px;
    }

    @media (max-width: 1262px) {
      font-size: 16px;
    }
  }

  &__item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;

    &::before {
      content: '-';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 15px;
  min-width: 183px;
}

.accent-button {
  color: #fff;
  background-color: $accent-color;
  border: 1px solid #fff;
}

.simply-button {
  color: #2A2B30;
  background-color: #fff;
  border: 1px solid #6F6D7B;
}