// -------------------variables------------------
$accent-color: #3E9CDC;
$menu-hover-color: #43ABF0;
$steps-count: 5;
// -------------------fonts------------------

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Semibold.woff2') format('woff2'),
    url('../fonts/Lato-Semibold.woff') format('woff'),
    url('../fonts/Lato-Semibold.ttf') format('truetype'),
    url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype'),
    url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Heavy.woff2') format('woff2'),
    url('../fonts/Lato-Heavy.woff') format('woff'),
    url('../fonts/Lato-Heavy.ttf') format('truetype'),
    url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
  display: swap;
}

// -------------------reset-styles------------------

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

li {
  position: relative;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  background-color: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:focus {
  outline: none;
}


/* ! ------------------------body-------------------- */

body {
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
  color: #000;
  min-width: 320px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  overflow-x: hidden;
}

body.lock,
html.lock {
  overflow: hidden;
}

/* ! ------------------------styles------------------ */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #10101D, $alpha: 0.9);
  padding: 15px 0;
  min-height: 100px;
  z-index: 2;

  @media (max-width: 810px) {
    min-height: 70px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
    max-width: 250px;
    height: 70px;

    @media (max-width: 810px) {
      height: 40px;
    }

    @media (max-width: 345px) {
      max-width: 220px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: contain;
      object-position: center;
    }
  }

  @media (max-width: 810px) {
    &__burger-wrapper {
      display: block;
      position: fixed;
      top: 10px;
      right: 15px;
      z-index: 299;
      cursor: pointer;
      box-sizing: content-box;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border-radius: 50%;
    }

    &__burger {
      position: relative;
      z-index: 300;
      width: 100%;
      height: 100%;
      z-index: 1;

      &:focus {
        outline: none;
      }

      span {
        position: absolute;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 3px;
        top: 23px;
        transition: .3s;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        transition: .3s;
      }

      &::after {
        top: 33px;
      }

      &::before {
        top: 13px;
      }

      &._active span {
        transform: scale(0);
      }

      &._active::before {
        transform: rotate(45deg);
        top: 24px;
        left: 11px;
      }

      &._active::after {
        transform: rotate(-45deg);
        top: 24px;
        left: 11px;
      }
    }
  }

  &__menu-wrapper {
    @media (max-width: 810px) {
      position: fixed;
      background-color: rgba(16, 16, 29, .9);
      z-index: 10;
      top: 70px;
      right: -100%;
      flex-direction: column;
      width: 300px;
      border-top: 1px solid #3a3a3a;
      transition: .3s;
      max-height: calc(100vh - 70px);
      overflow: auto;

      &._active {
        right: 0;
      }
    }

    @media (max-width: 450px) {
      width: 100%;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;

  @media (max-width: 450px) {
    width: 100%;
  }

  &__item {
    margin-right: 60px;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 13px;
    font-weight: 600;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 965px) {
      margin-right: 30px;
    }

    @media (max-width: 810px) {
      width: 100%;
      text-align: center;
      margin-right: 0;

      &:first-child .menu__link {
        padding-top: 20px;
      }

      &:last-child .menu__link {
        padding-bottom: 20px;
      }
    }
  }

  &__link {
    display: block;
    padding: 10px 0;
    transition: .2s;

    &:hover {
      color: $menu-hover-color;
    }
  }
}

.start-screen {
  position: relative;
  width: 100%;
  padding: 203px 0 10.5% 0;

  @media (max-width: 965px) {
    padding-top: 150px;
  }

  @media (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    height: 100vh;
    min-height: 600px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #93928e;
    pointer-events: none;

    @media (max-width: 450px) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    img {
      object-fit: cover;
      object-position: center top;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 42.5%;
    margin-left: 19.5%;
    padding: 0 15px;

    @media (max-width: 1350px) {
      margin-left: 12%;
    }

    @media (max-width: 1089px) {
      margin-left: 8%;
      max-width: 46.5%;
    }

    @media (max-width: 980px) {
      width: 100%;
      max-width: 450px;
    }

    @media (max-width: 500px) {
      margin: 0;
      max-width: none;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10.25%;

    span {
      color: $accent-color;
    }

    @media (max-width: 1871px) {
      font-size: 40px;
    }

    @media (max-width: 1574px) {
      font-size: 34px;
    }

    @media (max-width: 1350px) {
      font-size: 32px;
    }

    @media (max-width: 1262px) {
      font-size: 28px;
    }

    @media (max-width: 1130px) {
      font-size: 22px;
    }

    @media (max-width: 430px) {
      font-size: 18px;
      text-align: center;
      margin-bottom: 15%;
    }
  }

  &__description {
    margin-bottom: 10.25%;
  }

  &__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;

    @media (max-width: 1574px) {
      font-size: 18px;
    }

    @media (max-width: 1262px) {
      font-size: 16px;
    }
  }

  &__list {
    font-size: 20px;

    @media (max-width: 1574px) {
      font-size: 18px;
    }

    @media (max-width: 1262px) {
      font-size: 16px;
    }

    @media (max-width: 400px) {
      font-size: 14px;
    }
  }

  &__item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;

    &::before {
      content: '-';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @media (max-width: 360px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__button {
    margin-right: 30px;

    @media (max-width: 360px) {
      width: 100%;
      margin-right: 0;

      &:nth-child(n+2) {
        margin-top: 15px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 15.2px;
  min-width: 183px;
  transition: .2s;

  @media (max-width: 1130px) {
    min-width: 150px;
  }

  @media (max-width: 810px) {
    font-size: 12px;
  }
}

.accent-button {
  color: #fff;
  background-color: $accent-color;
  border: 1px solid #fff;

  &:hover {
    background-color: #43ABF0;
  }
}

.simply-button {
  color: #2A2B30;
  background-color: #fff;
  border: 1px solid #6F6D7B;

  &:hover {
    color: #fff;
    background-color: #43ABF0;
    border-color: #43ABF0;
  }
}

.order {
  position: relative;
  padding-top: 6.25%;
  padding-bottom: 7.8%;
  background-color: #272733;

  @media (max-width: 1024px) {
    padding: 11% 0;
  }

  @media (max-width: 450px) {
    padding: 23% 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    img {
      object-fit: cover;
      object-position: center top;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    -webkit-font-smoothing: antialiased;

    @media (max-width: 450px) {
      font-size: 26px;
    }

    span {
      color: $accent-color;
    }
  }

  &__subtitle {
    display: block;
    text-align: center;
    margin-bottom: 6.84%;
    font-size: 18px;
    color: #BBBBBB;

    @media (max-width: 450px) {
      font-size: 16px;
      margin-bottom: 15%;
    }
  }

  &__steps {
    margin-bottom: 60px;

    @media (max-width: 1024px) {
      margin-bottom: 100px;
    }
  }
}

.steps {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: $accent-color $accent-color;
  padding-bottom: 20px;

  @media (max-width: 810px) {
    -webkit-mask: linear-gradient(-90deg, #0000, #000 40px);
    mask: linear-gradient(-90deg, #0000, #000 40px);
  }

  &::-webkit-scrollbar {
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #3D4050;
    border: 0;
    border-radius: 15px;
    margin: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 15px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 1170px;

    @media (max-width: 810px) {
      min-width: 1030px;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: $accent-color;
    border: 5px solid #286690;

    @media (max-width: 810px) {
      width: 75px;
      height: 75px;
    }
  }

  &__dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    svg {
      width: 6px;
      height: 6px;
      fill: #C4C4C4;
    }
  }

  &__icon {
    display: block;
    max-width: 50px;
    max-height: 50px;
    fill: #fff;

    &--search {
      width: 33.5px;
      height: 33.5px;

      @media (max-width: 810px) {
        width: 22px;
        height: 22px;
      }
    }

    &--percent {
      width: 31px;
      height: 31px;

      @media (max-width: 810px) {
        width: 20px;
        height: 20px;
      }
    }

    &--file {
      width: 38.3px;
      height: 41.5px;

      @media (max-width: 810px) {
        width: 25.3px;
        height: 28.5px;
      }
    }

    &--email {
      width: 36px;
      height: 28.3px;

      @media (max-width: 810px) {
        width: 24px;
        height: 19.3px;
      }
    }

    &--money {
      width: 38.5px;
      height: 25.7px;

      @media (max-width: 810px) {
        width: 27.5px;
        height: 19.7px;
      }
    }
  }

  &__name {
    margin-top: 20px;
    color: #fff;
    text-align: center;

    @media (max-width: 810px) {
      font-size: 14px;
    }
  }
}

.field {
  display: flex;
  align-items: center;
  background-color: #bebec2;
  border-radius: 3px;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #272733;
  font-size: 18px;
  transition: .2s;

  @media (max-width: 810px) {
    font-size: 14px;
  }

  &::-webkit-input-placeholder {
    color: #272733;
  }

  &::-moz-placeholder {
    color: #272733;
  }

  /* Firefox 19+ */
  &:-moz-placeholder {
    color: #272733;
  }

  /* Firefox 18- */
  &:-ms-input-placeholder {
    color: #272733;
  }
}

input.field:focus {
  border: 1px solid $accent-color;
  background-color: #fff;
}

.form {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;

    &::after {
      content: '';
      width: 31.62%;
    }
  }

  &__item {
    height: 48px;
    width: 31.62%;
    max-width: 370px;
    margin-bottom: 30px;

    @media (max-width: 810px) {
      height: 40px;
    }

    @media (max-width: 680px) {
      width: 47%;
    }

    @media (max-width: 450px) {
      width: 100%;
      max-width: none;
    }

    &--2x {
      width: 65.81%;
      max-width: 770px;

      @media (max-width: 680px) {
        width: 100%;
        order: 1;
      }

      @media (max-width: 450px) {
        order: 0;
      }
    }
  }

  &__file {
    .button {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: 2px solid $accent-color;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: .2s;

      &:hover {
        color: #fff;
        background-color: $accent-color;

        svg {
          fill: #fff;
        }
      }

      &__remove {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: red;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        width: 0;
        margin: 0;
        cursor: pointer;
        transition: .2s;

        &:hover {
          transform: scale(1.1);
        }
      }

      &._success {
        cursor: auto;

        .button__remove {
          pointer-events: all;
          opacity: 1;
          visibility: visible;
          width: auto;
          margin-left: 10px;
        }

        &:hover {
          color: #000;
          background-color: #fff;

          svg {
            fill: #000;
          }

          .button__remove svg {
            fill: red;
          }
        }
      }

      &__text,
      svg {
        pointer-events: none;
      }

      &__text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      svg {
        width: 17px;
        height: 20px;
        margin-right: 10px;
        flex-shrink: 0;
        transition: .2s;
      }
    }
  }

  &__button {
    margin: 0 auto;
    width: 100%;
    max-width: 31.62%;
  }
}

.range {
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
    margin-bottom: 7px;

    @media (max-width: 810px) {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__value {
    color: rgba($color: #fff, $alpha: 0.85);
    font-weight: 600;
  }

  &__input {
    position: relative;
    top: 3px;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    // ! Скрываем стандартный ползунок:
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Скрывает слайдер, чтобы можно было создать свой */
    appearance: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      /* Скрывает слайдер, чтобы можно было создать свой */
      appearance: none;
    }

    &:focus {
      /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
      outline: none;
    }

    &::-ms-track {
      width: 100%;
      cursor: pointer;
      /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    // ! Кругляшок:
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 23.7px;
      width: 23.7px;
      border-radius: 50%;
      border: 3px solid #286690;
      background: #42A9ED;
      cursor: pointer;
      /* Нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
      margin-top: -11px;
      transition: .2s;
    }

    &::-moz-range-thumb {
      height: 23.7px;
      width: 23.7px;
      border-radius: 50%;
      background: #42A9ED;
      cursor: pointer;
      transition: .2s;
    }

    &::-ms-thumb {
      height: 23.7px;
      width: 23.7px;
      border-radius: 50%;
      background: #42A9ED;
      cursor: pointer;
      transition: .2s;
    }

    // ! Полоса:
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      border: 1px solid #fff;
      cursor: pointer;
      background: #bebec2;
      border-radius: 5px;
      transition: .2s;
    }

    &:focus::-webkit-slider-runnable-track {
      background: $accent-color;
    }

    &:focus::-webkit-slider-thumb {
      background: $accent-color;
    }

    &::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: #ffbc2a;
      border-radius: 1.3px;
      transition: .2s;
    }

    &::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
      transition: .2s;
    }

    // ! Для IE 10+
    &::-ms-fill-lower {
      background: #ffbc2a;
      border-radius: 2.6px;
      transition: .2s;
    }

    &:focus::-ms-fill-lower {
      background: #a78a07;
    }

    &::-ms-fill-upper {
      background: #ffbc2a;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      transition: .2s;
    }

    &:focus::-ms-fill-upper {
      background: #a78a07;
    }
  }
}

.select {

  &__container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__field {
    justify-content: space-between;
    padding-right: 16px;
    cursor: pointer;
    transition: .2s;

    * {
      pointer-events: none;
    }
  }

  &__selected {
    color: #272733;
    font-size: 18px;

    @media (max-width: 810px) {
      font-size: 14px;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 5.2px;
      width: 8.9px;
      transition: .2s;
    }
  }

  &__options-wrapper {
    position: absolute;
    max-height: 0;
    width: 100%;
    padding-right: 4px;
    background: #272733;
    border-bottom: 1px solid #3D4050;
    border-right: 1px solid #3D4050;
    border-left: 1px solid #3D4050;
    border-radius: 0 0 3px 3px;
    color: #fff;
    transition: all .2s linear;
  }

  &__options {
    width: 100%;
    max-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: $accent-color $accent-color;
    transition: all .2s linear;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #3D4050;
      border: 0;
      border-radius: 15px;
      margin: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $accent-color;
      border-radius: 15px;
      border: 3px solid $accent-color;
    }
  }

  &__option {
    padding: 7.5px 10px;
    cursor: pointer;
    transition: .2s;

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      padding-bottom: 10px;
    }

    &:hover {
      color: #42A9ED;
    }
  }

  &._active &__options-wrapper {
    max-height: 179.5px;
    width: 100%;
  }

  &._active &__options {
    max-height: 175.5px;
  }

  &._active &__field {
    background-color: #3a3c4c;
    border: 1px solid #3a3c4c;
    border-radius: 3px 3px 0 0;
  }

  &._active &__selected {
    color: #fff;
  }

  &._active &__arrow {
    fill: #fff;

    svg {
      transform: rotateZ(180deg);
    }

  }
}

.footer {
  background-color: #3D4050;
  padding: 29.6px 0;
  color: #fff;
  font-size: 13px;
  line-height: 1.6;

  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

    &>*:not(*:last-child) {
      border-right: 1px solid #C3C3C3;

      @media (max-width: 1211px) {
        border-right: none;
      }
    }
  }

  &__copyrigth {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 30.8%;
    padding-right: 10px;

    span {
      margin: 0 5px;
      text-transform: uppercase;
    }

    @media (max-width: 1211px) {
      width: 50%;
    }

    @media (max-width: 810px) {
      justify-content: center;
      width: 100%;
    }

    @media (max-width: 395px) {
      padding-right: 0;
    }
  }

  &__payment {
    width: 40.8%;

    @media (max-width: 1211px) {
      order: 1;
      margin: 15px auto 0;
      padding: 0 80px;
      width: 100%;
    }

    @media (max-width: 635px) {
      padding: 0;
    }
  }

  &__contacts {
    width: 28.4%;

    @media (max-width: 810px) {
      margin-top: 15px;
    }
  }
}

.payment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #C3C3C3;

  @media (max-width: 635px) {
    justify-content: center;
  }

  @media (max-width: 450px) {
    flex-wrap: wrap;
  }

  @media (max-width: 395px) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;

    @media (max-width: 635px) {
      margin-right: 30px;
    }

    @media (max-width: 395px) {
      margin-right: 0;
      margin-bottom: 10px;
      min-width: 110px;
    }

    &:last-child {
      @media (max-width: 635px) {
        margin-right: 0;
      }

      @media (max-width: 395px) {
        margin-bottom: 0;
      }
    }

    &:hover svg {
      transform: rotateY(360deg);
    }

    svg {
      width: 100%;
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      fill: $accent-color;
      margin-right: 12px;
      transition: .5s;
    }

    &--qiwi {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &--yandex {
      svg {
        width: 13.5px;
        height: 17.5px;
      }
    }

    &--webmoney {
      svg {
        width: 18px;
        height: 17.8px;
      }
    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  font-style: normal;
  flex-wrap: wrap;

  @media (max-width: 1211px) {
    width: 50%;
    justify-content: flex-end;
  }

  @media (max-width: 810px) {
    justify-content: center;
    width: 100%;
  }

  @media (max-width: 395px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-left: 40px;
    transition: .2s;

    @media (max-width: 810px) {
      margin-left: 0;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: 395px) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &:hover {
      color: $accent-color;
    }

    svg {
      fill: $accent-color;
      margin-right: 12px;

      @media (max-width: 810px) {
        margin-right: 7px;
      }
    }

    &--email {
      svg {
        width: 15px;
        height: 11.8px;
      }
    }

    &--vk {
      svg {
        width: 10.5px;
        height: 13.1px;
      }
    }
  }
}